@tailwind base;
@tailwind utilities;
@tailwind components;

/** Scroll Bar */

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-thumb {
	background: rgb(77, 77, 87);
}

::-webkit-scrollbar-thumb:hover {
	background: #bbb;
}

::-webkit-scrollbar-track {
	background: rgb(18, 18, 20);
}
